.blog-section {
  position: relative;

  width: 100%;
  height: 340px;

  background-image:
    linear-gradient(
      rgba(244, 123, 32, 0.75),
      rgba(244, 123, 32, 0.75)
    ),
    url("../assets/blog-bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}



.blog-content {
  position: relative;
  z-index: 5;

  text-align: center;

  max-width: 1200px;
  width: 100%;

  padding: 0 20px;
}

.blog-content h2 {
  font-size: 4rem;
  font-weight: 700;

  color: #2d2d2d;

  margin-bottom: 45px;
}

.blog-content h2 span {
  color: #ffffff;
}

.blog-content button {
  padding: 18px 65px;

  border: none;

  background: white;
  color: #f47b20;

  font-size: 1.4rem;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.3s ease;
}

.blog-content button:hover {
  transform: translateY(-4px);
}

/* TABLET */

@media (max-width: 992px) {
  .blog-section {
    height: 300px;
  }

  .blog-content h2 {
    font-size: 2.8rem;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .blog-section {
    height: 260px;
  }

  .blog-content h2 {
    font-size: 2rem;
    line-height: 1.4;
  }

  .blog-content h2 span {
    display: block;
  }

  .blog-content button {
    width: 220px;

    font-size: 1rem;

    padding: 15px 25px;
  }
}

@media (max-width: 480px) {
  .blog-section {
    height: 230px;
  }

  .blog-content h2 {
    font-size: 1.6rem;
  }

  .blog-content button {
    width: 100%;
    max-width: 220px;
  }
}