.featured-section {
  width: 100%;
  background: #f4f4f4;

  text-align: center;

  padding: 90px 40px;
}

.featured-section h2 {
  font-size: 3rem;
  font-weight: 700;

  color: #222;

  margin-bottom: 60px;
}

/* LOGOS */

.featured-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 60px;

  margin-bottom: 50px;
}

.featured-logos img {
  max-height: 55px;
  width: auto;

  object-fit: contain;

  cursor: pointer;

  opacity: 0.6;

  filter: grayscale(100%);

  transition: all 0.4s ease;
}

/* Fade Others */

.featured-logos:hover img {
  opacity: 0.25;
}

/* Active Logo */

.featured-logos img:hover {
  opacity: 1;

  filter: grayscale(0%);

  transform: translateY(-8px) scale(1.08);
}

/* BUTTON */

.featured-section button {
  background: #f47b20;
  color: white;

  border: none;

  padding: 12px 32px;

  font-size: 15px;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.3s ease;
}

.featured-section button:hover {
  background: #de6d18;

  transform: translateY(-3px);
}

/* TEXT */

.featured-section p {
  margin-top: 70px;

  color: #222;

  font-size: 1.25rem;
  font-weight: 500;
}

/* TABLET */

@media (max-width: 992px) {

  .featured-section {
    padding: 80px 30px;
  }

  .featured-section h2 {
    font-size: 2.4rem;
  }

  .featured-logos {
    gap: 40px;
  }

  .featured-logos img {
    max-height: 45px;
  }

  .featured-section p {
    font-size: 1.1rem;
  }
}

/* MOBILE */

@media (max-width: 768px) {

  .featured-section {
    padding: 60px 20px;
  }

  .featured-section h2 {
    font-size: 2rem;

    margin-bottom: 40px;
  }

  .featured-logos {
    gap: 28px;
  }

  .featured-logos img {
    max-height: 38px;
  }

  .featured-section button {
    width: 180px;
  }

  .featured-section p {
    font-size: 1rem;

    margin-top: 50px;
  }
}

/* SMALL MOBILE */

@media (max-width: 480px) {

  .featured-logos {
    gap: 20px;
  }

  .featured-logos img {
    max-height: 30px;
  }

  .featured-section h2 {
    font-size: 1.7rem;
  }
}